<button mat-raised-button color="accent" title="back" routerLink="/">
  Retour
</button>

<form class="article-form" [formGroup]="articleForm" (ngSubmit)="onSubmit(articleForm.value)">
  <mat-form-field class="article-field-full-width">
    <input matInput id="title" type="text" placeholder="Titre" formControlName="title">
  </mat-form-field>
  <mat-form-field class="article-field-full-width">
    <!--<input matInput id="message" type="text" placeholder="Contenu" formControlName="message">-->
    <textarea matInput id="message" placeholder="Contenu" formControlName="message"></textarea>

  </mat-form-field>
  <!--récupération du nom de l'auteur automatique-->
  <mat-form-field class="article-field-full-width">
    <input matInput id="author" type="number" placeholder="Auteur" formControlName="author">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Ajouter</button>
</form>
