<mat-toolbar color="primary">
  <span>Socializa</span>
  <span class="spacer"></span>
  <button *ngIf="!loginService.isUserLoggedIn()" routerLink="/login">Se connecter</button>
  <button *ngIf="loginService.isUserLoggedIn()" routerLink="/logout">Se déconnecter</button>
  <button mat-mini-fab *ngIf="loginService.isUserLoggedIn()" routerLink="/register">
    <mat-icon aria-hidden="false" aria-label="Add article">add</mat-icon>
  </button>
</mat-toolbar>
<div class="container" >
  <router-outlet></router-outlet>
</div>
